*
{
	margin:0;
	padding:0;
}
.body.color{
	background: grey;
}
.header {
	width: 100%;
	height: fit-content;
}
.settings{
	font-size: 50px;
	margin: 0 20px;
}
@media only screen and (max-width:550px){
	.settings{
		font-size: 30px;
	}
}

.bi-gear{
	float: left;
	transition: all 0.2s linear;
}

.path.color{
	color: white;
}
.bi-gear.rotate{
	transform: rotate(90deg);
}
.bi-person-circle{
	float:right;
}



.container-box{
	display: flex;
	padding-top: 10px;
}



/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.62);
	/* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-box {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fefefe;
	position: relative;
	border-radius:20px;
	margin: 15% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: fit-content;
	/* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.btn-close {
	position: absolute;
	right: 25px;
	top: 10px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}



.setting div{
	font-size: 30px;
}
.toggle{
	display: flex;
	flex-direction: row;
	justify-self: flex-end;
	align-self: flex-end;
}

.ellipse{
	width: 55px;
	border-radius: 20px;
	height: 20px;
	transform: scale(0.7);
	background: black;
}
.toggle-circle{
	position: relative;
	left: 28px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: black; 
	transition: all 0.2s linear;
}
.toggle-circle.move{
	transform: translate(25px);
}

/* Full-width input fields */
.container-form input[type=text],
.container-form input[type=password] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

/* Set a style for all buttons */
.container-form button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.container-form button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.avatar {
	transform: scale(2);
}

.container-form {
	padding: 25px;
}

span.psw {
	float: right;
}
/* Modal Content/Box */
.modal-content-form {
	background-color: #fefefe;
	position: relative;
	margin: 0 auto 0 auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}