* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.body.color {
    background: grey;
}

.settings-icon {
    font-size: 4rem;
}



.bi-gear {
    float: left;
    transition: all 0.2s linear;
    margin: 1rem;
}

.bi.color {
    color: white;
}

.bi-gear.rotate {
    transform: rotate(90deg);
}

.bi-person-circle {
    position: absolute;
    right: 0;
    margin: 1rem;
}

.container-box {
    display: flex;
    padding-top: 1rem;
    font-size: 1.5rem;

}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.62);
    /* Black w/ opacity */
    padding-top: 6rem;
}

/* Modal Content/Box */
.modal-box {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    position: relative;
    border: .1rem solid white;
    border-radius: 2rem;
    margin: 15% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: .1rem solid #888;
    width: fit-content;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.btn-close {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}



.setting div {
    font-size: 3rem;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
}

.ellipse {
    width: 5.5rem;
    border-radius: 2rem;
    height: 2rem;
    transform: scale(0.7);
    background: black;
}

.toggle-circle {
    position: relative;
    left: 2.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: black;
    transition: all 0.2s linear;
}

.toggle-circle.move {
    transform: translate(2.5rem);
}

.container-form label {
    font-size: 1.5rem;
}

/* Full-width input fields */
.container-form input[type="text"],
.container-form input[type="password"] {
    min-width: auto;
    padding: 1.2rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    box-sizing: border-box;
    margin-top: .6rem;
    margin-bottom: 1.6rem;
}

.container-form input[type="text"]::placeholder,
.container-form input[type="password"]::placeholder {
    font-size: 1.5rem;
}

.psw {
    font-size: 1.5rem;
}

.container-form input[type="checkbox"] {
    position: relative;
    width: 3rem;
    height: 3rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    outline: none;
    transition: 0.5s;
}

.container-form input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: .2rem solid #262626;
    box-sizing: border-box;
    transition: 0.5s;
}

.container-form input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 1.5rem;
    background: transparent;
    border-right: .3rem solid rgb(47, 76, 203);
    border-bottom: .3rem solid rgb(47, 76, 203);
    transform: rotate(45deg);
}


/* Set a style for all buttons */
.container-form button {
    background-color: #4c89af;
    color: white;
    padding: 1.4rem 2rem;
    margin: .8rem 0;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.container-form button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 2.4rem 0 1.2rem 0;
    position: relative;
}

.avatar {
    transform: scale(2);
}

.container-form {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

span.psw {
    position: relative;
    left: 70%;
    top: -2rem;
}

/* Modal Content/Box */
.modal-content-form {
    background-color: #fefefe;
    position: relative;
    margin: 1rem auto 1rem auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: .1rem solid #888;
    border-radius: 2rem;
    width: 70%;
    max-width: 50rem;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 2.5rem;
    top: 0;
    color: #000;
    transform: scale(1.5);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* logo open*/
.main-body {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

}

.img-logo {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    box-shadow: .3rem .2rem .2rem 0.02rem #81a1d9c5;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    padding: 1rem;
}

/* logo closed*/
/* title open */
.title {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background: #4c7ed4de;
    border: .2rem solid #548be9f6;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
}

.title span {
    color: white;
    padding: 1rem;
}

.bi-arrow-right {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin: 0 1rem 0 .5rem;
}

.title:hover .bi-arrow-right {
    color: rgb(0, 255, 170);
}

.shop {
    text-decoration: none;
}

.shop:hover {
    text-decoration: none;
}

/* title closed */