body {
    background: linear-gradient(to right, rgb(88, 197, 243), rgb(184, 184, 198));
}

.container {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    place-items: center;
    place-content: center;
    margin: 2rem auto;
    grid-gap: 2rem 1rem;
}

.box {
    position: relative;
    width: 20rem;
    height: 20rem;
    background: transparent;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s linear;
}

.box:before {
    content: '';
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50%;
    backdrop-filter: blur(.5rem);
    filter: blur(.05rem);
    box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1);
    border: .1rem solid rgba(255, 255, 255, 0.5);
    border-right: .1rem solid rgba(255, 255, 255, 0.2);
    border-left: .1rem solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.box:hover {
    transform: scale(1.08);
}

@media (max-width: 576px) {
    .container {
        grid-gap: 2rem 0rem;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
    .box{
        width: 15rem;
        height: 15rem;
    }
}

.box img {
    z-index: 1;
}

.carousel {
    position: relative;
    margin: 10px auto;
    width: 90%;
    height: 90%;
}

.peopleCarouselImg img {
    width: 100%;
    height: 30rem;
}

@media only screen and (min-width:856px) {
    .carousel {
        width: 80%;
        height: 90%;
    }
}

.prev,
.next {
    font-size: 30px;
    color: rgb(0, 0, 0, 10);
}

.menus {
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4rem 0;

}

.menus a {
    text-decoration: none;
    margin: 0 2.5rem;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
}

.menus a:hover {
    background-color: rgb(117, 214, 255);
    color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 6rem;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
}

span>.fa {
    font-size: 3rem;
    margin: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 1.5rem;
    }

    .sidenav a {
        font-size: 1.8rem;
    }
}

.banner {
    display: flex;
    justify-content: center;
}

.banner2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.703);
    padding: 1rem;
}

.banner-name {
    font-size: 2.5rem;
    margin: 2rem;
    align-self: center;
}
.banner-name p{
    font-family: 'Zilla Slab Highlight',cursive;
}

.logo {
    position: relative;
    width: fit-content;
}

.logo svg{
    color: rgba(0, 145, 255, 0.924);
    width: 10rem;
    height: 10rem;
}
@media only screen and (max-width:360px){
    .banner2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo svg{
        width: 8rem;
        height: 8rem;
    }
}