.containers-block{
    width: 100%;
    
    position: relative;
    margin: 6rem 0 0 0;
}
.cards-blocks{
    position: relative;
    width: 90%;
    max-width: 95%;
    min-width: 40%;
    margin: 3rem auto;
    background: rgba(0, 0, 0, 0.5);
    height:25rem;
    display: flex;
    flex-direction: row;
}
.blocks{
    width: 35rem;
    height: 100%;
    border-right: .2rem solid rgba(0, 0, 0, 0.5);
    padding: 3rem 0;
}
.blocks img{
    width: 100%;
    height: 100%;
}
.blocks2{
    text-indent: 1rem;
    padding:0 2rem;
    width: 100%;
    height: 100%;
}
.heading{
    font-size: 2.5rem;
    text-decoration:.2rem underline;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-rendering: auto;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    letter-spacing: 0.3rem;
}
.details{
    font-size:1.5rem;
    color:white;
    text-align: center;
    width: 100%;
}
.button{
    position: relative;
    width: 100%;
    top: 13rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}
.button button{
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    font-weight: 500;
}
.button i{
    font-size: 1.5rem;
}